<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-toilet-paper-1560793327.jpg?crop=1.00xw:1.00xh;0,0&resize=1200:*);">
  <div class="container">
    <h1>Papers permet à tous un accès équitable au papier de toilette</h1>
    <p>Plus de papier au magasin? Trop honteux pour passer à la caisse avec un pack de PQ? Trouves dès maintenant le meilleur papier près de chez toi!</p>
    <%= link_to "Trouves ton papier", papers_path, class: "btn btn-gradient" %>
  </div>
</div>
